<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<div th:if="${param.error}">
    Invalid Username Or Passowrd
</div>
<div th:if="${param.logout}">
    You have been logged out successfully.
</div>
<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <td>UserName :</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input type="text" name="password"/></td>
        </tr>
        <tr>
            <td>Remember Me :</td>
            <td><input type="checkbox" name="remember-me"/></td>
        </tr>
    </table>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>